@charset "utf-8";
/* CSS Document */
body{
	background-color:lightgoldenrodyellow
}
h1{
   text-align: center;
   color:#48C9B0; font-size: 36px
}
p{
	text-align: right;
	color:dodgerblue
}
