@charset "utf-8";
/* CSS Document */
a{
   text-decoration: none
}
body{
	background-color:lightgoldenrodyellow
}
h1{
   text-align: center;
   color:#48C9B0; font-size: 36px
}
p{
	text-align: right;
	color:dodgerblue;
	line-height: 1.8;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
#firstp{
	line-height: 10;
	color: #5E18A2
}
.blue{
	color:#20A09E;
	text-align: center
}
.purple{
	color: #490060;
	padding: 10px
}
